.main {
    margin: 0;
    padding: 0;
    font-family: cursive;

}

body {
    background-color: black;
}

h2 {
    color: yellow;
}

.row1 {
    display: flex;
    margin-top: 30px;

}

.row2 {
    display: flex;
    gap: 300px;
}

.logo {
    font-size: 20px;
    margin-left: 60px;
    color: white;
}

.r1 {
    margin-left: 300px;

}

button {
    cursor: pointer;
}

li {
    list-style: none;
    color: white;

}

ul {
    display: flex;
    gap: 30px;

}

.r2 {
    margin-left: 400px;
}

.first {
    margin-top: 120px;
    margin-left: 50px;
}

.f3 {
    width: 400px;
    color: white;
}

#bu1 {
    padding: 8px;
    width: 105px;
    font-family: cursive;
    border: 2px solid purple;
    border-radius: 8%;
    font-weight: bold;
    background-color: purple;
    color: white;
}

.f4 {
    display: flex;
    margin-top: 20px;
    gap: 30px;
}

#bu2 {
    color: white;
    font-family: cursive;
    background-color: yellow;
    padding: 8px;
    width: 105px;
    border: 2px solid yellow;
    border-radius: 8%;
    font-weight: bold;
}

.row3 {
    display: flex;
    font-size: 20px;
    margin-left: 60px;
    gap: 20px;
    color: white;
}

.dm1 {
    background-color: purple;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dd {
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d1 {
    background-color: purple;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second {

background-position: center;
background-size: cover;
object-fit: contain;
}

h1 {
    color: white;
}